body{
  background-color: #11052C;
}
.navbar{
  /* height: 150px; */
  background-color: #261C2C;
  /* width: 100%; */
  font-size: 1.5rem;
  font-family: "Montserrat";
  padding-left: 110px;
  /*padding-top: 15px;
  padding-bottom: 15px; */

}
.navbar-brand{
  font-size: 2.5rem;

}

.section-title{
  font-size: 3rem;
  color:white;
  font-weight: 500;
  padding-top: 5%;
  padding-bottom: 3%;

  text-decoration: underline;
  padding-left: 1%;
}

.project1_image{
  width: 70%;
  height: 90%;
  border-style: solid;
  border-color: white;
}

.project_title{
  font-size: 2.5rem;
  font-weight: 300;
  padding-left: 20%;
  padding-top: 1%;
  padding-bottom: 2%;
  color: white;
  width: 80%;
  text-decoration: underline;
}

.project_text{
  font-size: 1.5rem;
  color:white;
}

.project2_image{
  width: 70%;
  height: 90%;
  border-style: solid;
  border-color: white;
  margin-left: 10%;
}


@media(max-width:1087px)  {
  .navbar{
    padding-left: 5%;
  }
  .section-title{
    font-size: 2rem;
  }
  .languages{
    padding-left: 5%;
  }
  .languages_image{
    padding-left: 5%;
    height: 80%;
    width: 80%;
  }
  .cp_image{
    padding-left: 5%;
    height: 70%;
    width: 70%;
  }
  .cp_platforms{
    padding-left: 10%;
  }
  .os{
    padding-left: 10%;
  }
}
