body{
  background-color: #11052C;
}

.navbar{
  background-color: #11052C;
}

.header-top{
  margin-top: 250px;
  margin-left: 20px;
  padding-bottom: 100px;
}

h1{
  /* font-weight: 100; */
  font-size: 4rem;
  font-family: "Montserrat";
  line-height: 2;
}

h2{
  font-weight: 300;
  font-size: 2rem;
  font-family: serif;
  line-height: 2;
  color:#0d6efd;
}

.typing{
  color:#FFF7AE;
}

.fab{

  padding: 10px;
  border-radius: 100%;
  background-color: #261C2C;
  margin: 10px;
}

.fab:hover{
  background-color: #FFF7AE;
}

.fa-facebook{
  margin-left:0;
}

.nav-item{
  font-weight: bold
}
/* a {
    color: black;
}

a:active {
    color: blue;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
} */

@media (max-width:1087px) {
  .main-title{
    font-size: 1.5rem;
  }
}
