body{
  background-color: #11052C;
}

.navbar{
  /* height: 150px; */
  background-color: #261C2C;
  /* width: 100%; */
  font-size: 1.5rem;
  font-family: "Montserrat";
  padding-left: 110px;
  /*padding-top: 15px;
  padding-bottom: 15px; */

}
.navbar-brand{
  font-size: 2.5rem;

}

.section-title{
  font-size: 3rem;
  color:white;
  font-weight: 500;
  padding-top: 5%;
  padding-bottom: 3%;
  line-height: 2;
  text-decoration: underline;
  padding-left: 1%;
}

.res{
  padding-top: 20%;
}
hr{
  height: 10%;
  color:white;
}
