body{
  background-color: #11052C;
}

.navbar{
  /* height: 150px; */
  background-color: #261C2C;
  /* width: 100%; */
  font-size: 1.5rem;
  font-family: "Montserrat";
  padding-left: 110px;
  /*padding-top: 15px;
  padding-bottom: 15px; */

}
.navbar-brand{
  font-size: 2.5rem;

}

.total{
  text-align: center;
}

.contacts_list{
  color:white;
  padding-top: 10%;
  padding-bottom: 10%;

}
.i{
  padding-top: 50%;
}
.link_list{
  font-size: 1rem;
}

.linked_link{
  margin-top: 0;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  text-align: center;
}
